<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
    </head>
    <body>
    <div>
      <h2><a href="{{ site.base_url}}">>top</a></h2>
      <h2>{{ page.title }}</h2>
      {{ page.content }}
    </div>
  </body>
</html>
